# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
dist-ssr/

# Local env & secrets
*.local
.env
.env.*
*.pem
*.key

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
Thumbs.db
